.footer {
    // position: fixed;
    // bottom: 0;
    // right: 50%;
    width: 392px;
    // transform: translateX(196px);
}
.container {
}
.footer__top {
    background: #ad0001;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__top-text {
    font-family: var(--font-family);
font-weight: 900;
font-size: 20px;
color: #d5a946;
margin-right: 12px;
}
.footer__top-social {
    display: flex;
}
.social {
}
.social__img {
    width: 42px;
    &:first-child {
        margin-right: 12px;
    }
}
.footer__bottom {
    background: #d5a946;
    padding: 12px 0;
    text-align: center;
}
.footer__bottom-link {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 23px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #292929;
}